:root {
    /* CMYK 0/0/0/0 | RGB 255 255 255; Blanco Audaz */
    --color-blanco-audaz: #FFFFFF;
    /* CMYK 0/7/100/0% | RGB 255 237 0; Amarillo Valiente */
    --color-amarillo-valiente0: #FFED00;
    --color-amarillo-valiente1: #403B00;
    --color-amarillo-valiente2: #807600;
    --color-amarillo-valiente3: #BFB200;
    --color-amarillo-valiente4: #FFF140;
    --color-amarillo-valiente5: #FFF680;
    --color-amarillo-valiente6: #FFFABF;
    /* Hex #383A6F | CMYK 22/21/0/56% | RGB 56 58 111 Azul Virtual */
    --color-azul-virtual0: #383A6F;
    --color-azul-virtual1: #0E0E1C;
    --color-azul-virtual2: #1C1D37;
    --color-azul-virtual3: #2A2B53;
    --color-azul-virtual4: #6A6B93;
    --color-azul-virtual5: #9B9CB7;
    --color-azul-virtual6: #CDCEDB;
    /* Hex #E7512B | CMYK 0/59/74/9% | RGB 231 81 43 Rojo Futurista */
    --color-rojo-futurista0: #E7512B;
    --color-rojo-futurista1: #3A140B;
    --color-rojo-futurista2: #732815;
    --color-rojo-futurista3: #AD3D20;
    --color-rojo-futurista4: #ED7C60;
    --color-rojo-futurista5: #9B9CB7;
    --color-rojo-futurista6: #CDCEDB;
    /* Hex #E2E6E8 | CMYK 2/1/0/9% | RGB 226 230 232; Gris Tecnológico */
    --color-gris-tecnologico0: #E2E6E8;
    --color-gris-tecnologico1: #38393A;
    --color-gris-tecnologico2: #717374;
    --color-gris-tecnologico3: #A9ACAE;
    --color-gris-tecnologico4: #E9ECEE;
    --color-gris-tecnologico5: #F0F2F3;
    --color-gris-tecnologico6: #F8F9F9;
    /* Hex #262626 | CMYK 0/0/0/85% | RGB 38 38 38 Negro Innovador */
    --color-negro-innovador0: #262626;
    --color-negro-innovador1: #090909;
    --color-negro-innovador2: #131313;
    --color-negro-innovador3: #1C1C1C;
    --color-negro-innovador4: #5C5C5C;
    --color-negro-innovador5: #929292;
    --color-negro-innovador6: #C9C9C9;

    /* Seleccion de colores principales */
    --color-blanco: var(--color-blanco-audaz);
    --color-light: var(--color-gris-tecnologico0);
    --color-dark: var(--color-negro-innovador0);
    --color-primario: var(--color-azul-virtual0);
    --color-secundario: var(--color-rojo-futurista3);
    --color-info: #2F6FCE;
    --color-succes: #38944C;
    --color-warning: #F2B230;
    --color-error: #EA464C;
    --color-accent2: var(--color-amarillo-valiente0);
    --color-accent3: var(--color-negro-innovador0);

    /* colores accesorios */
    --color-navbar-bg: var(--color-gris-tecnologico5);
    --color-login-bg: var(--color-gris-tecnologico5);
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-shadow-rgb: 0, 0, 0;
    --border-separator: 1px solid var(--color-shadow);

    /* sobreescribir colores de bootstrap */
    --bs-form-invalid-color: var(--color-error);
    --bs-form-invalid-border-color: var(--color-error);
}