.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.25);
    --bs-accordion-active-bg: var(--bs-accordion-bg);
}

.icon {
    width: 24px;
    height: 22px;
}

#drop-zone {
    background-image: url("/img/upload.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 12rem;
    border: dashed 2px var(--color-gris-tecnologico3);
    border-radius: var(--bs-border-radius-lg);
}
#drop-zone.dragover {
    border: dashed 2px var(--color-azul-virtual4);
    background-color: var(--color-azul-virtual6);
}

.arrow-indicator::before {
    content: "^";
}

.code-container {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.code-container pre {
    border-radius: 0em .3em .3em .3em !important;
}

.file-tab {
    font-size: 14px;
    font-weight: bold;
    border-bottom: none;
    width: fit-content;
    border-top: solid 2px #358ccb;
    color: whitesmoke;
    background: #272822;
}
.rule-results > div:nth-child(2) {
    margin-top: 2.5rem !important;
}

.arrow-indicator {
    position: absolute;
    left: 36ch;
    bottom: -1px;
    font-size: 18px;
    color: red;
    z-index: 1;
}

.arrow-indicator::before {
    content: "^";
}

pre .line-highlight { z-index: 1 !important; }

pre {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.code-container pre {
    margin-top: inherit !important;
    margin-bottom: inherit !important;
}